:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

mat-spinner{
  margin: auto;
}

.post-image {
  max-height: 20%;
  max-width: 50%;
}

.post-image img{
  width: 80%;
}

mat-paginator{
  margin-top: 1rem;
}